# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Visual Studio 产生的编译文件夹和文件
*.obj
*.exe
*.ilk
*.pdb
*.suo
*.user
*.user.*
.vs/
[Dd]ebug/
[Rr]elease/

# Qt/MSVC 相关的编译产物
# 明确排除 x64 文件夹
x64/

# 额外的 VS 解决方案配置
*.sln.docstates
